<% include ./partials/headers %>
<div class="ui main text container segment">
  <div class="ui huge header">Edit <%=blog.title%> </div>
  <form class="ui form" action="/blogs/<%=blog._id%>?_method=PUT" method="POST">         <!-- Method Override (because HTML form doesn't support PUT request). Work around by "?_method=PUT" [Need to install method-override]-->
    <div class="field">
      <label>Title</label>
      <input type="text" name="blog[title]" value="<%=blog.title%>">
    </div>
    <div class="field">
      <label>Image URL</label>
      <input type="text" name="blog[image]" value="<%=blog.image%>">
    </div>
    <div class="field">
      <label>Description</label>
      <textarea name="blog[body]"><%=blog.body%></textarea>
    </div>
    <input class="ui orange basic big button" type="submit">    
  </form>
</div>
<% include ./partials/footer %>